### vAmiga Test Executions

This is a work in progress. So far, the vAmiga test cases under [Agnus](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus) have been executed.

| vAmiga Test Cases | NanoMig Verilator results | Test report |
|-------------------|---------------------------|-------------|
| [Agnus/Blitter](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/Blitter) | [Agnus/Blitter](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/Blitter)  | [Agnus_Blitter.md](Agnus_Blitter.md) 
| [Agnus/Copper](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/Copper) | [Agnus/Copper](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/Copper)  | [Agnus_Copper.md](Agnus_Copper.md) 
| [Agnus/DDF](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/DDF) | [Agnus/DDF](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/DDF)  | [Agnus_DDF.md](Agnus_DDF.md) 
| [Agnus/DIW](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/DIW) | [Agnus/DIW](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/DIW)  | [Agnus_DIW.md](Agnus_DIW.md) 
| [Agnus/Misc](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/Misc) | [Agnus/Misc](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/Misc)  | [Agnus_Misc.md](Agnus_Misc.md) 
| [Agnus/Registers](https://github.com/dirkwhoffmann/vAmigaTS/tree/master/Agnus/Registers) | [Agnus/Misc](https://github.com/darius600/NanoMig-vAmigaTS-Results/tree/main/Agnus/Registers)  | [Agnus_Registers.md](Agnus_Registers.md) 
